@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-nav {
  background-color: white;
  width: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  border-radius: 32px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);

  &__logo {
    cursor: pointer;
    padding-top: 0;
    transition: padding 300ms ease-in-out;
    position: relative;
  }

  &__pointer {
    position: absolute;
    right: -1px;
    top: 106px;
    transition: top cubic-bezier(.51,.92,.24,1.15) 300ms,
    //right 300ms ease-out 50ms,
    transform 150ms cubic-bezier(.22,.68,0,1.71);
    opacity: 1;
    transform: scale(0, 0.5);
    will-change: transform, top;
    transform-origin: center right;
  }
  &__items.active ~ &__pointer {
    opacity: 1;
    transform: scale(1.2,1);
  }

  &__items {
    @include flexCenter;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    margin: 0;
    flex-direction: column;
    gap: 24px;
    will-change: max-height, margin, transform, opacity, visibility;

    transition: max-height 300ms cubic-bezier(.51,.92,.24,1.15),
      margin 300ms cubic-bezier(.51,.92,.24,1.15);

    &.active {
      opacity: 1;
      visibility: visible;
      margin: 32px 0 24px 0;
      max-height: 300px;
    }
  }
  &__item {
    @include flexCenter;
    opacity: 0;
    will-change: opacity, transform;
    a {
      @include flexCenter;
    }
  }
}